body {
    font-family: Arial, sans-serif;
    background-color: #111;
    padding: 20px;
    background-image: url("zoom-bg-gomules.jpg");
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    color: #fff;
  }
  
  h1 {
    text-align: center;
    color: rgb(255, 255, 255);
  }
  
  header {
    text-align: center;
    margin-bottom: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  main {
    width: 500px;
    margin: 0 auto;
    background-color: #222;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
    position: relative;
  }
  
  form {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    background-color: #333;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
  }
  
  label {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    color: #fff;
  }
  
  input[type="text"], input[type="date"], input[type="time"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #444;
    color: #fff;
  }
  
  button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    cursor: pointer;
  }

  #confirmation-box {
    width: 500px;
    margin: 0 auto;
    background-color: #222;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
    position: relative;
    text-align: center;
}